#me{
    width: 350px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}
.footer{
    text-align: center;
    display: inline-block;
    width: 100%;
    position: fixed;
    background-color:aliceblue;
    bottom: 0;
    border: .05px gray solid;
}
#navBox{
    width:100%;
}

}