#me{
    width: 350px;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
    
}
.footer{
    text-align: center;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
}
